* {
    margin: 0;
    padding: 0;

    font-family: sans-serif;

    box-sizing: border-box;
}

*:focus {
    outline: none;
}

.shop-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;

    width: 750px;
    height: 550px;
}

.shop__block {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;

    width: 30%;
    height: 55%;

    padding: 25px;

    background-color: rgb(239, 239, 239);

    border: 2px solid rgba(148, 148, 148, .3);
    border-radius: 3px;
}

.item__heading {
    margin-bottom: 3px;

    font-size: 15px;
    font-weight: bold;
}

.item__info {
    padding: 0 7px;

    height: 30px;

    font-weight: bold;
    font-size: 12px;

    line-height: 30px;

    background-color: rgba(169, 169, 169, .3);

    border: 1px solid rgba(118, 118, 118, .3);
    border-radius: 3px;
}

/* Sale */

.amount-of-product {
    color: rgb(66, 66, 66);
}

.sale__products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sale__product {
    display: flex;
    align-items: center;

    margin-top: 7px;
}

.sale__product>label {
    padding-left: 3px;
    font-size: 14px;
}

.sale__add-product {
    margin-top: 10px;
}

.sale__add-product,
.sale__buy {
    cursor: pointer;

    padding: 7px 14px;

    background-color: rgba(150, 150, 150, 0.5);

    border: 1px solid rgba(160, 160, 160, 0.3);
    border-radius: 3px;
}

.sale__cart {
    padding: 8px 15px;

    height: 33%;

    background-color: rgba(169, 169, 169, .3);

    border: 1px solid rgba(118, 118, 118, .3);
    border-radius: 3px;
}

.sale__cart>p,
.shop__receipt p,
.error {
    padding: 2px 0;

    font-size: 14px;
    color: rgb(66, 66, 66);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    min-width: 450px;

    padding: 5px 15px;

    background-color: rgba(169, 169, 169, .3);

    border: 2px solid rgb(112, 112, 112);
    border-radius: 3px;

    position: absolute;
    top: 50px;
    left: 50%;

    transform: translate(-50%, 0);
}

.none {
    display: none;
}